@font-face {
    font-family: 'Lato';

    /*These get loaded from the url loader*/

    src: url('../fonts/Lato-Regular.ttf');
    src: url('../fonts/Lato-Italic.ttf');
    src: url('../fonts/Lato-Bold.ttf');
    src: url('../fonts/Lato-BoldItalic.ttf');
}

body {
    font-family: 'Lato, Helvetica, Arial';
    padding-top: 80px;
}


#bg_header_img {
    background: url('../images/webpack_logo.png') -131px 1px no-repeat;
    margin-right: 15px;
    height: 150px;
    width: 150px;
}

h3 {
    font-size: 18px;
}

